#final-score{
    font-size: 5rem;
    color: rgba(28, 27, 27, 0.75);
}

#username{
    font-size: 2rem;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 5vh;
    text-align: center;
}