@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Roboto';
    /* margin-bottom: 8vh; */
    color: #b300ff;
}

h2{
    font-family: 'Roboto';
    margin-top: 5vh;
    margin-bottom: 8vh;
    color:blueviolet;
}

h1:hover{
    transition: transform 1.5s ease-in-out;
    transform: rotate(360deg);
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #000000;
}

.fCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.fColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 50px;
    border-radius: 5px;
    background-color: #b4efe4;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family:  sans-serif;
    margin-bottom: 5vh;
}

.btn:hover{
    background-color: #b300ff;
    color: #fff;
    border: 2px solid #b300ff;
    transform: scale(1.1);
}

